In [1]:
import numpy as np
import pandas as pd

In [2]:
credits = pd.read_csv('tmdb_5000_credits.csv')

In [96]:
movies = pd.read_csv('tmdb_5000_movies.csv')

In [97]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [98]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [99]:
movies = movies.merge(credits,on='title')

In [100]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [101]:
# genres
# id
# keyword
# title
# overview
# cast
# crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [102]:
movies.dropna()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [103]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [104]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [105]:
# convert this format
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# to
# ['Action','Adventure','Fantasy','SciFi']

In [106]:
import ast

In [107]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [108]:
movies['genres'] = movies['genres'].apply(convert)

In [109]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [110]:
movies['keywords'] = movies['keywords'].apply(convert)

In [111]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [112]:
def convert2(obj):
    count = 0
    L = []
    for i in ast.literal_eval(obj):
        if count != 3:
            L.append(i['name'])
            count += 1
        else:
            break
    return L

In [113]:
movies['cast'] = movies['cast'].apply(convert2)

In [114]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [115]:
def fetch_direc(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [117]:
movies['crew'] = movies['crew'].apply(fetch_direc)

In [118]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [129]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [130]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]

In [136]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [133]:
new_df = movies[['movie_id','title','overview','tags']]

In [134]:
new_df.head()

,movie_id,title,overview,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction, basedonnov..."

In [138]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Adarsh\AppData\Local\Temp/ipykernel_17356/3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [139]:
new_df.head()

,movie_id,title,overview,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,"John Carter is a war-weary, former military ca...",Action Adventure ScienceFiction basedonnovel m...

In [140]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\Adarsh\AppData\Local\Temp/ipykernel_17356/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [141]:
new_df.head()

,movie_id,title,overview,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,"John Carter is a war-weary, former military ca...",action adventure sciencefiction basedonnovel m...

In [142]:
new_df.iloc[0].tags

'action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [159]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [160]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [161]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [162]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [163]:
len(cv.get_feature_names())

5000

In [164]:
cv.get_feature_names()

['16thcentury',
 '17thcentury',
 '18thcentury',
 '1910s',
 '1930s',
 '1940s',
 '1950s',
 '1960s',
 '1970s',
 '1980s',
 '1990s',
 '19thcentury',
 '21stcentury',
 '3d',
 'aaroneckhart',
 'aarontaylor',
 'abbiecornish',
 'abhishekbachchan',
 'abigailbreslin',
 'aborigine',
 'abrams',
 'absurdism',
 'abuse',
 'abusivehusband',
 'accident',
 'action',
 'actionhero',
 'activist',
 'actor',
 'actress',
 'adambeach',
 'adambrody',
 'adamcarolla',
 'adamdriver',
 'adamgarcia',
 'adamgoldberg',
 'adammckay',
 'adamrifkin',
 'adamsandler',
 'adamscott',
 'adamshankman',
 'adaptation',
 'addiction',
 'adolescence',
 'adolfhitler',
 'adoptedchild',
 'adoption',
 'adoptivefather',
 'adrianlyne',
 'adrienbrody',
 'adriennebarbeau',
 'adultanimation',
 'adultery',
 'advancement',
 'adventure',
 'adversary',
 'advertisingexecutive',
 'advertisingexpert',
 'advice',
 'affair',
 'affection',
 'afghanistan',
 'africa',
 'africanamerican',
 'aftercreditsstinger',
 'afterlife',
 'agedifference',
 'agent',
 'aggressionbyanimal',
 'aging',
 'aidanquinn',
 'aids',
 'aimeegarcia',
 'airforce',
 'airplane',
 'airplanecrash',
 'airport',
 'akshaykumar',
 'alanalda',
 'alanarkin',
 'alanparker',
 'alanrickman',
 'alantudyk',
 'alaska',
 'albertbrooks',
 'albertfinney',
 'alberthughes',
 'alcatraz',
 'alcohol',
 'alcoholabuse',
 'alcoholic',
 'alcoholism',
 'alecbaldwin',
 'alecguinness',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 'alessandronivola',
 'alexanderpayne',
 'alexanderskarsgård',
 'alexandradaddario',
 'alexandreaja',
 'alexapenavega',
 'alexisbledel',
 'alexkendrick',
 'alexpettyfer',
 'alexproyas',
 'alfonsocuarón',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'alicebraga',
 'aliceeve',
 'aliciasilverstone',
 'aliciavikander',
 'aliciawitt',
 'alien',
 'alienabduction',
 'alienation',
 'alienattack',
 'aliencontact',
 'alieninfection',
 'alieninvasion',
 'alienlife',
 'alienphenomenons',
 'alienplanet',
 'alilarter',
 'alisonlohman',
 'alligator',
 'alpacino',
 'alps',
 'alterego',
 'alternatedimension',
 'alternatehistory',
 'alternatereality',
 'alternativereality',
 'alysonhannigan',
 'alzheimer',
 'amandabynes',
 'amandapeet',
 'amandaseyfried',
 'amazon',
 'ambassador',
 'amberheard',
 'ambertamblyn',
 'ambition',
 'ambulance',
 'ambush',
 'americaferrera',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanflag',
 'americanfootball',
 'americanfootballplayer',
 'amnesia',
 'amsterdam',
 'amusementpark',
 'amyadams',
 'amyheckerling',
 'amypoehler',
 'amyryan',
 'amysmart',
 'anaclaudiatalancón',
 'anandtucker',
 'anarchiccomedy',
 'ancientchina',
 'ancientegypt',
 'ancientgreece',
 'ancientrome',
 'ancientworld',
 'anderson',
 'andiemacdowell',
 'andrebraugher',
 'andrewadamson',
 'andrewbujalski',
 'andrewdavis',
 'andrewfleming',
 'andrewgarfield',
 'andrewniccol',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andyfickman',
 'andygarcía',
 'andylau',
 'andysamberg',
 'andyserkis',
 'andytennant',
 'angel',
 'angelabassett',
 'angelinajolie',
 'anger',
 'anglee',
 'animal',
 'animalattack',
 'animalhorror',
 'animallead',
 'animalprotection',
 'animalsidekick',
 'animation',
 'anime',
 'anjelicahuston',
 'annabellasciorra',
 'annafaris',
 'annafriel',
 'annakendrick',
 'annapaquin',
 'annasophiarobb',
 'annearcher',
 'annebancroft',
 'annefletcher',
 'annehathaway',
 'anneheche',
 'annemoss',
 'annettebening',
 'anonymity',
 'anonymousletter',
 'anotherdimension',
 'ant',
 'antarctic',
 'antarctica',
 'anthology',
 'anthonyanderson',
 'anthonyhopkins',
 'anthonymackie',
 'anthonyminghella',
 'anthonyquinn',
 'anthonyrusso',
 'anthropomorphism',
 'anti',
 'antihero',
 'antisemitism',
 'antiterror',
 'antoinefuqua',
 'antoncorbijn',
 'antoniobanderas',
 'antonyelchin',
 'apartheid',
 'apartment',
 'ape',
 'apocalypse',
 'apocalyptic',
 'apostle',
 'apprentice',
 'aquarium',
 'arab',
 'arbitrarylaw',
 'archaeologist',
 'archeology',
 'archer',
 'archery',
 'architect',
 'arctic',
 'arcy',
 'area51',
 'arena',
 'argument',
 'aristocrat',
 'arizona',
 'armandassante',
 'armiehammer',
 'arminmueller',
 'armoredcar',
 'armsdeal',
 'armsdealer',
 'army',
 'arnoldschwarzenegger',
 'arrangedmarriage',
 'arrest',
 'arrogance',
 'arson',
 'art',
 'artgallery',
 'arthouse',
 'artifact',
 'artificialinsemination',
 'artificialintelligence',
 'artist',
 'arttheft',
 'artthief',
 'asabutterfield',
 'ashleyjudd',
 'ashleytisdale',
 'ashtonkutcher',
 'asia',
 'aspiringsinger',
 'assassin',
 'assassination',
 'assassinationattempt',
 'assault',
 'assaultrifle',
 'assignment',
 'assistant',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlete',
 'atlanticocean',
 'atomegoyan',
 'atomicbomb',
 'attack',
 'attemptedmurder',
 'attemptedrape',
 'attempttoescape',
 'attic',
 'auction',
 'audiotape',
 'audition',
 'audreyhepburn',
 'audreytautou',
 'aunt',
 'auntniecerelationship',
 'australia',
 'australianoutback',
 'austria',
 'author',
 'autism',
 'auto',
 'automobileracing',
 'autoritianeducation',
 'awkwardness',
 'ax',
 'baby',
 'babysitter',
 'bachelor',
 'backpacker',
 'badboss',
 'badluck',
 'badmother',
 'bagoverhead',
 'bahamas',
 'ball',
 'ballet',
 'balloon',
 'baltasarkormákur',
 'baltimoremaryland',
 'bammargera',
 'band',
 'bangkok',
 'bank',
 'banker',
 'banking',
 'bankrobber',
 'bankrobbery',
 'bar',
 'barbarahershey',
 'barbarian',
 'barbrastreisand',
 'barcelonaspain',
 'barfight',
 'barn',
 'barrylevinson',
 'barrypepper',
 'barrysonnenfeld',
 'barsandrestaurants',
 'baseball',
 'baseballbat',
 'basedonarticle',
 'basedoncartoon',
 'basedonchildren',
 'basedoncomicbook',
 'basedoncomicstrip',
 'basedonfairytale',
 'basedonfilm',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonshortstory',
 'basedonstagemusical',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basement',
 'basketball',
 'bat',
 'bathroomhumor',
 'bathtub',
 'batman',
 'battle',
 'battleassignment',
 'battlefield',
 'battleforpower',
 'bazluhrmann',
 'bdsm',
 'beach',
 'beachhouse',
 'bear',
 'beard',
 'beast',
 'beating',
 'beautifulwoman',
 'beauty',
 'beautycontest',
 'becominganadult',
 'bedroom',
 'beer',
 'beguilement',
 'beheading',
 'belgium',
 'bell',
 'benaffleck',
 'benbarnes',
 'benchaplin',
 'benedictcumberbatch',
 'benfoster',
 'bengazzara',
 'beniciodeltoro',
 'benitomussolini',
 'benjaminbratt',
 'benkingsley',
 'bennofürmann',
 'benstiller',
 'benwhishaw',
 'berlin',
 'berniemac',
 'bestfriend',
 'bestfriendsinlove',
 'bet',
 'betrayal',
 'bettemidler',
 'bettythomas',
 'beverlyhills',
 'beyoncéknowles',
 'bias',
 'bible',
 'bigfamily',
 'biker',
 'bikini',
 'billard',
 'billbellamy',
 'billcondon',
 'billewoodruff',
 'billhader',
 'billionaire',
 'billmoseley',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyburke',
 'billyconnolly',
 'billycrudup',
 'billycrystal',
 'billythekid',
 'billywilder',
 'billyzane',
 'binoculars',
 'biography',
 'biologicalweapon',
 'biology',
 'bird',
 'birth',
 'birthday',
 'bisexual',
 'bisexuality',
 'bite',
 'bittersweet',
 'blackandwhite',
 'blackhole',
 'blackhumor',
 'blackmagic',
 'blackmail',
 'blackmen',
 'blackout',
 'blackpeople',
 'blacksmith',
 'blade',
 'blakelively',
 'blast',
 'blaxploitation',
 'blind',
 'blinddate',
 'blindness',
 'blindnessandimpairedvision',
 'blizzard',
 'blog',
 'blonde',
 'blood',
 'bloodsplatter',
 'blowjob',
 'blues',
 'boardingschool',
 'boat',
 'boatchase',
 'boazyakin',
 'bobbyfarrelly',
 'bobclark',
 'bobgunton',
 'bobhoskins',
 'bobodenkirk',
 'body',
 'bodyexchange',
 'bodyguard',
 'bodyhorror',
 'bokeemwoodbine',
 'bollywood',
 'bomb',
 'bomber',
 'bombing',
 'bondage',
 'bongjoon',
 'bonniehunt',
 'boobytrap',
 'book',
 'bookstore',
 'boredom',
 'boss',
 'boston',
 'botanist',
 'bounty',
 'bountyhunter',
 'bourgeoisie',
 'bowandarrow',
 'bowling',
 'boxer',
 'boxing',
 'boxingmatch',
 'boy',
 'boyfriend',
 'boyfriendex',
 'boyfriendgirlfriendrelationship',
 'boygenius',
 'boys',
 'bradanderson',
 'bradbird',
 'braddourif',
 'bradfurman',
 'bradleycooper',
 'bradpeyton',
 'bradpitt',
 'bradsilberling',
 'bradycorbet',
 'brain',
 'braintumor',
 'brainwashing',
 'brandont',
 'bravery',
 'brawl',
 'brazil',
 'brazilian',
 'break',
 'breakdance',
 'breakingthefourthwall',
 'breast',
 'breckeisner',
 'breckinmeyer',
 'brendanfraser',
 'brendangleeson',
 'brentonthwaites',
 'brentspiner',
 'brettratner',
 'briancox',
 'briandennehy',
 'briandepalma',
 'brianhelgeland',
 'brianlevant',
 'brianrobbins',
 'briantaylor',
 'briantrenchard',
 'bride',
 'bridegroom',
 'bridesmaid',
 'bridge',
 'bridgetfonda',
 'brielarson',
 'brien',
 'britain',
 'british',
 'britisharmy',
 'britishempire',
 'britishsecretservice',
 'britmarling',
 'brittanymurphy',
 'brittanysnow',
 'brittrobertson',
 'broadway',
 'brokenengagement',
 'brokenneck',
 'broker',
 'bronx',
 'brookeshields',
 'brooklynnewyorkcity',
 'brooks',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothersisterrelationship',
 'bruceberesford',
 'brucecampbell',
 'brucedern',
 'brucegreenwood',
 'brucewillis',
 'brutality',
 'bryancranston',
 'bryansinger',
 'brycedallashoward',
 'budapest',
 'buddhism',
 'buddhistmonk',
 'buddycomedy',
 'buddycop',
 'bulletwound',
 'bully',
 'bullying',
 'bunker',
 'bunny',
 'bureaucracy',
 'burglar',
 'buriedalive',
 'burnedalive',
 'burrsteers',
 'burtlancaster',
 'burtreynolds',
 'bus',
 'bush',
 'business',
 'businessman',
 'businessstart',
 'busride',
 'butler',
 'bythewood',
 'cabin',
 'cabininthewoods',
 'cage',
 'cairo',
 'california',
 'callgirl',
 'cambodia',
 'camcorder',
 'cameronbright',
 'cameroncrowe',
 'camerondiaz',
 'camgigandet',
 'camillabelle',
 'camp',
 'campaign',
 'campbellscott',
 'camping',
 'campus',
 'canada',
 'cancer',
 'candlelightvigil',
 'candy',
 'cannabis',
 'cannibal',
 'cannibalism',
 'canoe',
 'canuxploitation',
 'caper',
 'capitalism',
 'captain',
 'captive',
 'capture',
 'car',
 'caraccident',
 'carbomb',
 'carchase',
 'carcrash',
 'cardealer',
 'cardgame',
 'career',
 'careerwoman',
 'caretaker',
 'carexplosion',
 'careymulligan',
 'cargoship',
 'caribbean',
 'caricevanhouten',
 'carjourney',
 'carlagugino',
 'carlfranklin',
 'carlossaldanha',
 'carlyschroeder',
 'carmenejogo',
 'carnival',
 'carpet',
 'carrace',
 'carrie',
 'carriefisher',
 'carsetonfire',
 'cartoon',
 'caruso',
 'caryelwes',
 'caseyaffleck',
 'casino',
 'castle',
 'castration',
 'cat',
 'cataclysm',
 'catandmouse',
 'catastrophe',
 'cateblanchett',
 'catherinedeneuve',
 'catherinehardwicke',
 'catherinekeener',
 'catherinemccormack',
 'catherineo',
 'catherinezeta',
 'catholic',
 'catholicchurch',
 'catholicism',
 'catholicpriest',
 'cattledrive',
 'cavalry',
 'cave',
 'cavemen',
 'cedrictheentertainer',
 'celebration',
 'celebrity',
 'cello',
 'cellphone',
 'cemetery',
 'centralandsouthamerica',
 'centralpark',
 'ceremony',
 'cgi',
 'chadmichaelmurray',
 'chainsaw',
 'championship',
 'chance',
 'chandor',
 'change',
 'changingthepastorfuture',
 'channingtatum',
 'chaos',
 'charity',
 'charlesdance',
 'charlesferguson',
 'charlesherman',
 'charlesmartinsmith',
 'charless',
 'charliecox',
 'charlieday',
 'charliehunnam',
 'charliesheen',
 'charlietahan',
 'charlizetheron',
 'charlotterampling',
 'charltonheston',
 'chase',
 'chasesandraces',
 'chauffeur',
 'chazzpalminteri',
 'cheating',
 'cheatingwife',
 'cheerleader',
 'chef',
 'chemical',
 'cher',
 'chevychase',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabuse',
 'childhero',
 'childhoodfriends',
 'childhoodmemory',
 'childhoodtrauma',
 'childlabour',
 'childmurderer',
 'childprodigy',
 'children',
 'chimcbride',
 'chimp',
 'chimpanzee',
 'china',
 'chinatown',
 'chipmunk',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigny',
 'chocolate',
 'choimin',
 'choir',
 'cholo',
 'chosenone',
 'chowyun',
 'chriscolumbus',
 'chriscooper',
 'chrisevans',
 'chrishemsworth',
 'chriskattan',
 'chrisklein',
 'chrismiller',
 'chrisnoth',
 'chriso',
 'chrispine',
 'chrispratt',
 'chrisrock',
 'chrissanders',
 'christ',
 'christian',
 'christianbale',
 'christianclavier',
 'christianfilm',
 'christianity',
 'christianslater',
 'christinaapplegate',
 'christinaricci',
 'christmas',
 'christmascarol',
 'christmaseve',
 'christmasparty',
 'christmastree',
 'christophereccleston',
 'christopherguest',
 'christopherlambert',
 'christopherlloyd',
 'christophermcdonald',
 'christophermcquarrie',
 'christophermintz',
 'christophernolan',
 'christopherplummer',
 'christopherreeve',
 'christopherwalken',
 'christophwaltz',
 'christucker',
 'chriswedge',
 'chrisweitz',
 'chu',
 'chuckrussell',
 'church',
 'churchchoir',
 'churchservice',
 'cia',
 'ciaagent',
 'ciaránhinds',
 'cigarettesmoking',
 'cigarsmoking',
 'cillianmurphy',
 'cinderella',
 'cinema',
 'circus',
 'city',
 'cityruin',
 'civilrights',
 'civilwar',
 'clairedanes',
 'claireforlani',
 'clancybrown',
 'clarkgable',
 'class',
 'classdifferences',
 'classicalmusic',
 'classprejudice',
 'classroom',
 'classsociety',
 'claudevandamme',
 'claustrophobia',
 'cleaduvall',
 'clerk',
 'cliffcurtis',
 'climate',
 'climatechange',
 'climbing',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clocktower',
 'clone',
 'cloning',
 'clown',
 'clowning',
 'clumsyfellow',
 'coach',
 'coalmining',
 'coastguard',
 'cocaine',
 'cockneyaccent',
 'cockroach',
 'code',
 'coffin',
 'cohabitant',
 'cohen',
 'coldwar',
 'colehauser',
 'colinfarrell',
 'colinfirth',
 'collector',
 'college',
 'collegestudent',
 'colmfeore',
 'colmmeaney',
 'colombia',
 'colonel',
 'colonialism',
 'colony',
 'colorado',
 'coma',
 'combat',
 'comeback',
 'comedian',
 'comedy',
 'comet',
 'comicbook',
 'comingofage',
 'comingout',
 'commando',
 'commercial',
 'commune',
 'communism',
 'community',
 'company',
 'compass',
 'competition',
 'composer',
 'compulsivegambling',
 'computer',
 'computerhacker',
 'computerprogram',
 'computervirus',
 'conartist',
 'concentrationcamp',
 'concert',
 'conciliation',
 'condom',
 'confederatesoldier',
 'confession',
 'confidence',
 'congress',
 'conman',
 'connell',
 'connienielsen',
 'connor',
 'conradvernon',
 'conspiracy',
 'conspiracyofmurder',
 'conspiracytheory',
 'contest',
 'contractkiller',
 'control',
 'conveniencestore',
 'convertible',
 'convict',
 'convoy',
 'cook',
 'cooking',
 'cop',
 'cops',
 'corbinbernsen',
 'coreyfeldman',
 'coronation',
 'corporation',
 'corpse',
 'corruptcop',
 'corruption',
 'cosmatos',
 'costasmandylor',
 'costume',
 'countdown',
 'countryhouse',
 'countrylife',
 'countrymusic',
 'countryside',
 'coupd',
 'courage',
 'court',
 'courtcase',
 'courteneycox',
 'courthouse',
 'courtroom',
 'cover',
 'coveredinvestigation',
 'cow',
 'cowardice',
 'cowardliness',
 'cowboy',
 'crab',
 'craigbierko',
 'craiggillespie',
 'craigt',
 'crash',
 'creature',
 'crime',
 'crimefamily',
 'crimefighter',
 'criminal',
 'criminalmastermind',
 'crisis',
 'crispinglover',
 'crocodile',
 'crookedlawyer',
 'cross',
 'crossdressing',
 'crucifix',
 'crucifixion',
 'cruelty',
 'cruise',
 'crusade',
 'crush',
 'crying',
 'cryogenics',
 'cuba',
 ...]

In [166]:
from sklearn.metrics.pairwise import cosine_similarity

In [171]:
similarity = cosine_similarity(vectors)

In [172]:
similarity[1]

array([0.12309149, 1.        , 0.12856487, ..., 0.        , 0.        ,
       0.        ])

In [173]:
new_df

,movie_id,title,overview,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,"John Carter is a war-weary, former military ca...",action adventure sciencefiction basedonnovel m...
...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,action crime thriller unitedstates–mexicobarri...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,comedy romance edwardburns kerrybishé marshadi...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",comedy drama romance tvmovie date loveatfirsts...
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,danielhenney elizacoupe billpaxton danielhsia
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,documentary obsession camcorder crush dreamgir...

In [174]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(47, 0.3849001794597506),
 (2378, 0.34426518632954817),
 (61, 0.33333333333333337),
 (83, 0.3142696805273545),
 (2409, 0.30123203803835463)]

In [180]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [184]:
recommend('Batman')

Batman
Batman & Robin
Batman Returns
Batman
Batman v Superman: Dawn of Justice

In [185]:
import pickle

In [186]:
pickle.dump(new_df,open('movies_pkl','wb'))

In [188]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [189]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [190]:
pickle.dump(similarity,open('similarity.pkl','wb'))